
/* Variables */

// Body
@bgcolor:			#4E4E4E;

// Baseline grid
@basefont:13px;
@baseline:18px;


body 
{
	#font > .droid(normal, 13px);
	color: @bgcolor;
	background: @bgcolor url(../images/body_bg.png);
	margin: 0px;
	padding: 0px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
	margin: 2px;
}

.section
{
	margin: 0px auto;
	padding: 20px 0px 0px 0px;
	width: 700px;
}

#font 
{
	.droid(@weight: normal, @size: 13px, @lineHeight: 20px) 
	{
		font-family: 'Droid Sans', Arial, Verdana, sans-serif;
		font-size: @size;
		font-weight: @weight;
		line-height: @lineHeight;
	}
}

#header 
{
	background: url(../images/top_bg.png) repeat-x left bottom;
	height: 140px;
}

#header > div
{
	margin: 50px auto;
	width: 700px;
}

#maintoolbar
{
	width: 100%;
	height: 40px;
	background: url(../images/bar_bg.png) repeat-x bottom;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

#content
{
	background-color: #FFFFFF;
	min-height: 400px;
	border: 1px solid #FFFFFF;
}

#footer 
{
	background: url(../images/footer_topbg.png) repeat-x top;
	min-height: 50px;
}

#maintoolbar div
{
	width: 800px;
	margin: 0px auto;
}

#maintoolbar #logo
{
	display: block;
	float: left;
	padding: 8px 20px 12px;
	margin-left: -20px;
	color: #ffffff;
}

#maintoolbar ul
{
	display: block;
	float: left;
	margin: 0 10px 0 0;
	position: relative;
	left: 0;
}

#maintoolbar ul > li 
{
	display: block;
	float: left;
}

#maintoolbar ul a, .nav a 
{
	display: block;
	float: none;
	padding: 10px 10px 11px;
	line-height: 19px;
	text-decoration: none;
}